# Python bytecode
*.py[co]

# Activestate Komodo project files.
*.kpf

# Mac OS X cruft
.DS_Store
._*

# Local settings override file.
local_settings.py

# SQLite development database
dev.db

# All contents of site_media
example_project/site_media/*

