{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{%trans "Project | " %}{{ project }}{% endblock %}

{% block content %}

  <h1>{% blocktrans %}Project: {{ project }} Total duration: {{ time_all }}{% endblocktrans %}<h1>
  <p>{% trans "Client: " %}{{ project.client }}</p>
  {% if user_list %}
    <h2>{% blocktrans %}{{ user }}'s Tasks in {{ project }} Total duration: {{ time_user }}{% endblocktrans %}</h2>
    {{ user_list }}
  {% endif %}

  {% if other_list %}
    <h2>{% blocktrans %}Other's tasks in {{ project }} Total duration: {{ time_other }}{% endblocktrans %}</h2>
    {{ other_list }}
  {% endif %}

{% endblock %}

{% block sidebar %}
  <form method="post" action="">
      <ul class="form-items">
          {{ form.as_ul }}
      </ul>
      <input type="submit" value="Update Project" />
  </form>
{% endblock %}

{% block closure %}
 <script>
    $('#id_client').val({{ project.client.id }});
    $('#id_state').val("{{ project.state }}");
 </script>
{% endblock %}