{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{%trans "Project | " %}{{ project }}{% endblock %}

{% block content %}

  {% comment %}
    Here blocktrans is using "with" for the user submitted variables. The
    reason for this, is that when not using with, it the variables will inside
    the blocktrans tags will not be escaped.
  {% endcomment %}

  <h1>{% blocktrans with project as project %}Project: {{ project }}. Total duration: {{ time_all }}{% endblocktrans %}<h1>
  <p>{% trans "Client: " %}{{ project.client }}</p>
  {% if user_list %}
    <h2>{% blocktrans with user as username and project as project %}{{ username }}'s tasks in {{ project }}. Total duration: {{ time_user }}{% endblocktrans %}</h2>
    {{ user_list }}
  {% endif %}

  {% if other_list %}
    <h2>{% blocktrans with project as project %}Other's tasks in {{ project }}. Total duration: {{ time_other }}{% endblocktrans %}</h2>
    {{ other_list }}
  {% endif %}

{% endblock %}

{% block sidebar %}
  <p>{% trans "Update project" %}
  <form method="post" action="">
      <ul class="form-items">
          {{ form.as_ul }}
      </ul>
      <input type="submit" value="Update Project" />
  </form>
{% endblock %}

{% block closure %}
 <script type="text/javascript">
    $('#id_client').val({{ project.client.id }});
    $('#id_state').val("{{ project.state }}");
    $('#id_team').val({{ project.team.id }});
    $('#id_name').val("{{ project }}");
 </script>
{% endblock %}
