{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{%trans "Project | " %}{{ project }}{% endblock %}

{% block content %}
  <div id="block-tables" class="block">
  {% comment %}
    Here blocktrans is using "with" for the user submitted variables. The
    reason for this, is that when not using with, it the variables will inside
    the blocktrans tags will not be escaped.
  {% endcomment %}

    <div class="content">
      <h1 class="title">
        {% blocktrans with project as project %}Project: {{ project }}. Total duration: {{ time_all }}{% endblocktrans %}
      <h1>
      <p>{% trans "Client: " %}{{ project.client }}</p>
      {% if user_list %}

        <h2 class="title">
          {% blocktrans with user as username and project as project %}{{ username }}'s tasks in {{ project }}. Total duration: {{ time_user }}{% endblocktrans %}
        </h2>
        {{ user_list }}
      {% endif %}

      {% if other_list %}
        <h2 class="title">
          {% blocktrans with project as project %}Other's tasks in {{ project }}. Total duration: {{ time_other }}{% endblocktrans %}
        </h2>
        {{ other_list }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% if form %}
    <div class="block">
      <h3>{% trans "Update the project" %}</h3>
      <div class="inner">
      <form class="form" method="post" action="">
        {{ form.errors }}
        <ul class="form-items">
          <div class="group">
            {{ form.name.errors }}
            <label for="id_name">Name:</label>
            {{ form.name }}
          </div>
          <div class="group">
            {{ form.team.errors }}
            <label for="id_project">Project:</label>
            {{ form.team }}
          </div>
          <div class="group">
            {{ form.client.errors }}
            <label for="id_client">Client:</label>
            {{ form.client }}
          </div>
          <div class="group">
            {{ form.state.errors }}
            <label for="id_client">State:</label>
            {{ form.state }}
          </div>
          <input type="submit" value="Update Project" />
        </ul>
      </form>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block closure %}
 <script type="text/javascript">
    $('#id_client').val({{ project.client.id }});
    $('#id_state').val("{{ project.state }}");
    $('#id_team').val({{ project.team.id }});
    $('#id_name').val("{{ project }}");
 </script>
{% endblock %}
