{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Create Team{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% trans "Create Team" %}</h1>

    <p>{% trans "A <b>team</b> is a group of people with some common interest." %}</p>
    {% if user.is_authenticated %}
        <form id="team_form" method="POST" action="{% url team_create %}">
            <table>
                {{ team_form }}
                <tr><td></td><td><input type="hidden" name="action" value="create" /><input type="submit" value="{% trans 'create' %}"/></td></tr>
            </table>
        </form>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own team or join an existing one.{% endblocktrans %}</p>
    {% endif %}

{% endblock %}
