{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ team.name }}{% endblock %}

{% block content %}
    <form method="POST" action="">
    <input type="textfield" name="add" id="auto-complete" value="" />
    <input type="submit" value="{% trans 'Add' %}"/>
    </form>


    <h1>{% trans "Team:" %} {{ team.name }}</h1>

    <div class="members">
        <h2>{% trans "Your members:" %}</h2>
        <table width="100%">
            {% for member in team.members.all %}
                {% ifnotequal member user %}
                    {{ member }}
                    <form method="POST" action="">
                    <input type="hidden" name="action" value="remove_{{ member.id}}" />
                    <input type="submit" value="{% trans 'Remove' %}"/>
                    </form>
                    <br>
                {% endifnotequal %}
            {% endfor %}
        </table>
        <br />
    </div>

    <h2>{% trans "Add new member" %}</h2>

    <br />
    {% ifequal user team.creator %}
        <form id="team_form" method="POST" action="">
            <table>
                {{ team_form }}
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="action" value="update" />
                            <input type="submit" value="{% trans 'update' %}"/>
                        </td>
                    </tr>
            </table>
        </form>

        {% ifequal team.members.all.count 1 %}
                <form method="post" action="{% url team_delete slug=team.slug %}">
                    <input type="submit" name="submit" value="{% trans 'Delete' %}" />
            {% else %}
                <p>{% trans "You are not the only member of the team so you cannot delete the team." %}</p>
        {% endifequal %}

    {% endifequal %}

            <div>
                <form method="POST" action="">
                    {% if are_member %}
                        {% ifequal user team.creator %}
                            <p>{% trans "You are the creator of this team so cannot leave." %}</p>
                        {% else %}
                            <input type="hidden" name="action" value="leave" />
                            <input type="submit" value="{% trans 'leave' %}"/>
                        {% endifequal %}
                    {% endif %}
                </form>
            </div>

{% endblock %}
{% block closure %}
  <script type="text/javascript" src="{{ STATIC_URL }}external/jquery.ui/jquery-ui-1.7.1.custom.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}external/misc/jquery.autocomplete.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/team.js"></script>
  <script type="text/javascript">
  djime.autocomplete_usernames = new Array()
  {% for user in user_list %}
    djime.autocomplete_usernames[{{ forloop.counter0 }}] = "{{ user }}";
  {% endfor %}
  </script>
{% endblock %}
