{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ team.name }}{% endblock %}

{% block content %}

    <h1>{% trans "Team:" %} {{ team.name }}</h1>

    <div class="team_info">
        <h2>{% trans "Team info:" %}</h2>
        <p>
            {% trans "Slug:" %} <tt>{{ team.slug }}</tt><br />
            {% trans "Creator:" %} {{ team.creator }}</a><br />
            {% trans "Created:" %} {{ team.created|date }}<br />
        </p>

        <p>{% trans "Description:" %}</p>
        <p>{{ team.description }}</p><br />
    </div>

    <div class="members">
        <h2>{% trans "Members:" %}</h2>
        <table width="100%">
            {% for member in team.members.all %}
                {{ member }} <br>
            {% endfor %}
        </table>
        <br />
    </div>

    {% ifequal user team.creator %}
        <form method="GET" action="{% url team_edit slug=team.slug %}">
                    <input type="submit" value="{% trans 'Edit' %}"/>
        </form>
    {% endifequal %}

            <div>
                <form method="POST" action="">
                    {% if are_member %}
                        {% ifnotequal user team.creator %}
                            <input type="hidden" name="action" value="leave" />
                            <input type="submit" value="{% trans 'leave' %}"/>
                        {% endifnotequal %}
                    {% endif %}
                </form>
            </div>

{% endblock %}
