{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "hest" %}{% endblock %}
{% block content %}
    <div id="flash_chart">
    </div>

{% endblock %}

{% block closure %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>

    <script type="text/javascript">
        var flashvars = {};
        var params = {};
        var attributes = {};
        swfobject.embedSWF("{{ MEDIA_URL }}swf/open-flash-chart.swf", "flash_chart", "740", "400", "9.0.0", "{{ MEDIA_URL }}swf/expressInstall.swf", {"data-file":"/statistics/data/user/{{ user_id }}/date/"});
    </script>
{% endblock %}
