{% load statistics_navigation_tags %}
{% statistics_nav_vars get %}
<div class="content-navigation">
  <ul class="links">
    <li>Statistics for</li>
    <li><a href="{% url statistics.views.week search="user", search_id=user.id, year=statistics_nav_current_week_year, week=statistics_nav_current_week %}">this week</a></li>
    <li><a href="{% url statistics.views.week search="user", search_id=user.id, year=statistics_nav_last_week_year, week=statistics_nav_last_week %}">last week</a></li>
    <li><a href="{% url statistics.views.month search="user", search_id=user.id, year=statistics_nav_current_month_year, month=statistics_nav_current_month %}">this month</a></li>
    <li><a href="{% url statistics.views.month search="user", search_id=user.id, year=statistics_nav_last_month_year, month=statistics_nav_last_month %}">last month</a></li>
    <li class="custom-date"><a href="{% url statistics.views.date_selection_form search="user", search_id=user.id %}">a different period</a></li>
  </ul>
</div>

