{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Statistics" %}{% endblock %}

{% block content %}
  <div class="block">
    <h2 class="title">{% blocktrans %}Billing info for user: {{ user }}, from {{ start_date }} to {{ end_date }}{% endblocktrans %}</h2>
    <div class="inner">
      <table class='table'>
        <thead>
          <tr>
            <th>{% trans "Client" %}</th>
            <th>{% trans "Project" %}</th>
            <th>{% trans "Time" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for key, list in time_dict.items %}
            <tr class="{% cycle 'even' 'odd' %}">
              <td class="client-name">
                {{ list.0 }}
              </td>
              <td class="project-name">
                {{ list.1 }}
              </td>
              <td class="client-time">{{ list.2 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

