{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Statistics" %}{% endblock %}

{% block content %}
  <div id="block-text" class="block">
    <div class="secondary-navigation">
      <ul>
        <li><a href="{% url billing_index %}">{% trans "Billing index" %}</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="content">
      <h2 class="title">{% blocktrans with team as team %}Statistics for team {{ team }}{% endblocktrans %}</h2>
      <div class="inner">
        <div id="flash-chart"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block closure %}
    <script type="text/javascript">
        var flashvars = {};
        var params = {};
        var attributes = {};
        swfobject.embedSWF("{{ STATIC_URL }}swf/open-flash-chart-patch2.swf", "flash-chart", "740", "400", "9.0.0", "{{ STATIC_URL }}swf/expressInstall.swf",
                           {"data-file":"/statistics/data/team_stat/{{ team_id }}/year/{{ year }}/month/{{ month }}/"});
    </script>
{% endblock %}
