{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Statistics" %}{% endblock %}

{% block content %}
    <div id="flash-chart">
    </div>
{% endblock %}

{% block closure %}
    <script type="text/javascript">
        var flashvars = {};
        var params = {};
        var attributes = {};
        swfobject.embedSWF("{{ STATIC_URL }}swf/open-flash-chart-patch2.swf", "flash-chart", "740", "400", "9.0.0", "{{ STATIC_URL }}swf/expressInstall.swf",
                           {"data-file":"/statistics/data/user/{{ user_id }}/year/{{ year }}/month/{{ month }}/"});
    </script>
{% endblock %}
