{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Statistics" %}{% endblock %}

{% block content %}
  <div id="block-text" class="block">
    <div class="secondary-navigation">
      <ul>
        {% include "statistics/navigation.html" %}
        <li><a href="{% url billing_index %}">{% trans "Billing index" %}</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="content">
      <h2 class="title">{% blocktrans with user as user %}Statistics for user {{ user }}{% endblocktrans %}</h2>
      <div class="inner">
        <p>
          {% trans "From this section you can in the secondary menu choose which form of statistics you would like to see. This section is only the statistics of the user " %}
          {{ user }}
          {% trans " if you would like statistics from a different user, you need to choose that user. Currently unavailable." %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}

