{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}external/daterangepicker/ui.daterangepicker.css" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}external/daterangepicker/ui.datepicker.css" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}external/daterangepicker/ui.core.css" />
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}external/daterangepicker/ui.theme.css" />
{% endblock %}

{% block head_title %}{% trans "hest" %}{% endblock %}

{% block content %}
  <div id="block-text" class="block">
    <div class="secondary-navigation">
      <ul>
        <li><a href="{% url billing_index %}">{% trans "Billing index" %}</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="content">
      <h2 class="title">{% blocktrans with user as user %}Statistics for team: {{ team }}{% endblocktrans %}</h2>
      <div class="inner">
        <form method="post" action="/statistics/team_stat/{{ team_id }}/date/selection/">
          <h3>{% trans "Date selection: " %}</h3>
          {{ form.errors }}
          <div class="group">
            {{ form.date.errors }}
            <label class="label">{% trans "Date" %}</label>
            {{ form.date }}
          </div>
          <div class="group navform">
            <input type="submit" name="submit" value="{% trans 'Get Chart' %}" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block closure %}
    <script type="text/javascript" src="{{ STATIC_URL }}external/daterangepicker/daterangepicker.jQuery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/jquery.ui/jquery-ui-1.7.1.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/statistics.js"></script>
{% endblock %}
