{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Statistics" %}{% endblock %}

{% block extra_head %}
  <link type="text/css" rel="stylesheet" media="all" href="{{ DEMO_STATIC_URL }}daterangepicker/ui.daterangepicker.css" />
  <link type="text/css" rel="stylesheet" media="all" href="{{ DEMO_STATIC_URL }}daterangepicker/ui.datepicker.css" />
  <link type="text/css" rel="stylesheet" media="all" href="{{ DEMO_STATIC_URL }}daterangepicker/ui.core.css" />
  <link type="text/css" rel="stylesheet" media="all" href="{{ DEMO_STATIC_URL }}daterangepicker/ui.theme.css" />
{% endblock %}

{% block content %}
    <form method="post" action="/statistics/user/{{ user_id }}/date/selection/">
        <fieldset>
            {% trans "Date selection: " %}
            <ol>
                {{ form.as_ul }}
                <li class="submit">
                    <input type="submit" name="submit" value="{% trans 'Get Chart' %}" />
                </li>
            </ol>
        </fieldset>
    </form>
{% endblock %}

{% block closure %}
    <script type="text/javascript" src="{{ DEMO_STATIC_URL }}daterangepicker/daterangepicker.jQuery.js"></script>
    <script type="text/javascript" src="{{ DEMO_STATIC_URL }}jquery.ui-1.6rc6/ui/jquery.ui.all.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/statistics.js"></script>
{% endblock %}
