{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ slip.name }}{% endblock %}

{% block extra_head %}
  <link type="text/css" rel="stylesheet" media="all" href="{{ DEMO_STATIC_URL }}jquery.ui-1.6rc6/themes/redmond/ui.all.css" />
{% endblock %}

{% block content %}
  <div id="dialog-box"></div>
  <h2>
    <div class="edit" id="div-1">{{ slip.name }}</div>
  </h2>
  <p>{% trans "Total time:" %} <span id="slip-total-time">{{ slip.display_time }}</span></p>
  <div id="slip-timer-button" class="{{ timer.class }}"><div class="timeclock">0:00</div></div>
{% endblock %}

{% block sidebar %}
  <input type="button" name="delete-slip" id="delete-slip-button" value="Delete this slip" />
  {% if slip_add_form %}
  <form method="post" action="{% url slip_create %}">
      <ul class="form-items">
          {{ slip_add_form.as_ul }}
      </ul>
      <input type="submit" value="Add a new task" />
  </form>
  {% endif %}
{% endblock %}

{% block closure %}
  <script type="text/javascript" src="{{ DEMO_STATIC_URL }}jquery.ui-1.6rc6/ui/jquery.ui.all.js"></script>
  <script type="text/javascript" src="{{ DEMO_STATIC_URL }}js/jquery.jeditable.js"></script>
  <script type="text/javascript" src="{{ DEMO_STATIC_URL }}js/jquery.timeclock.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/tracker.js"></script>
  <script type="text/javascript">
    djime.messages['slip_delete_title'] = '{% trans "Delete this slip?" %}';
    djime.messages['slip_delete_body'] = '{% trans "If you delete this slip, you will lose all the time records associated with it. This is irrevocable." %}';
    {% if slip.is_active %}
        djime.current_time = new Date({{ slice_time.year }}, {{ slice_time.month }}, {{ slice_time.day }}, {{ slice_time.hour }}, {{ slice_time.minute }}, {{ slice_time.second }});
    {% endif %}
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/djime.js"></script>
  <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js"></script>
  <script type="text/javascript">
  djime.autocomplete_projectnames = new Array()
  {% for project in project_js_list %}
    djime.autocomplete_projectnames[{{ forloop.counter0 }}] = new Array("{{ project }}", "{{ project.client.id }}");
  {% endfor %}
  </script>
  <script type="text/javascript">
  djime.client_list = {{ client_list|safe }}
  </script>
{% endblock %}

