{% extends "site_base.html" %}

{% load i18n %}

{% block content %}

<div class="yui-g">
  <div class="yui-u first current-slips">
    <h4>{% trans "Current tasks" %}</h4>
    <ul class="item-list slip-list">
      {% for slip in slip_list %}
        <li class="slip slip-{{ slip.id }}">
          <a href="{% url slip_page slip_id=slip.id %}">
            <span class="elapsed-time">{{ slip.display_time }}</span>
            {{slip.name}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="yui-u current-projects">
    <h4>{% trans "Current projects" %}</h4>
    <ul class="item-list project-list">
      {% for project in project_list %}
        <li class="project project-{{ project.id }}">
          <a href="{% url project_page project_id=project.id %}">
            <span class="elapsed-time">{{ project.elapsed_time }}</span>
              {{project.name}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}

{% block sidebar %}
    {% if slip_add_form %}
    <form method="post" action="{% url slip_create %}">
        <ul class="form-items">
            {{ slip_add_form.as_ul }}
        </ul>
        <input type="submit" value="Add a new task" />
    </form>
    {% endif %}
{% endblock %}

{% block closure %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/djime.js"></script>
  <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js"></script>
  <script type="text/javascript">
  djime.autocomplete_projectnames = new Array()
  {% for project in project_list %}
    djime.autocomplete_projectnames[{{ forloop.counter0 }}] = new Array("{{ project }}", "{{ project.client.id }}");
  {% endfor %}
  </script>
  <script type="text/javascript">
  djime.client_list = {{ client_list|safe }}
  </script>
{% endblock %}

