{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Import data" %}{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>{% trans "Start" %}</th>
      <th>{% trans "Stop" %}</th>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Duration" %}</th>
      <th>{% trans "Project" %}</th>
      <th>{% trans "Slip" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for item in import_data %}
    <tr>
      <td>{{ item.start }}</td>
      <td>{{ item.end }}</td>
      <td>{{ item.date }}</td>
      <td>{{ item.duration }}</td>
      <td>{{ item.project }}</td>
      <td>{{ item.slip }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>
{% trans "Confirm import" %}:
  <form method="post" action="{% url data_import_action import_id=import_id, action="save" %}">
    <input type="submit" name="save" value="{% trans 'Save' %}" />
  </form>
  <form method="post" action="{% url data_import_action import_id=import_id, action="cancel" %}">
    <input type="submit" name="cancel" value="{% trans 'Cancel' %}" />
  </form>
</p>
{% endblock %}
