{% extends "base.html" %}

{% load i18n %}
{% block login %}
    {% if user.is_authenticated %}
        Hello, <em>{{ user }}</em>! |
        {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}
        <a href="{% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a> {% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>
    {% endif %}
{% endblock %}

{% block main_menu %}
  <ul class="menu">
    <li><a href="/tracker/">Overview</a></li>
    <li><a href="/tracker/">Overview</a></li>
    <li><a href="/tracker/">Overview</a></li>
    <li><a href="/tracker/">Overview</a></li>
    <li><a href="/tracker/">Overview</a></li>
    <li><a href="/tracker/">Overview</a></li>
  </ul>
{% endblock %}

{% block footer %}
  <div class="legal">&copy; 2008 Reveal IT</div>
{% endblock %}
