<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {% load i18n %}
  <title>Djime | {% block head_title %}Time tracker{% endblock %}</title>
  {% if timer %}
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/tracker.css"/>
  {% endif %}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}external/web-app-theme/base.css" />
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}external/web-app-theme/style.css" />

  <!--[if IE]><style>
    div {
      zoom: 1; /* trigger hasLayout */
    }
  </style><![endif]-->
  {# Define a djime object in JavaScript that other templates can put attributes into #}
  <script type="text/javascript">var djime = {'messages': {}}</script>
  {% block extra_head %}
  {% endblock %}
</head>

<body>
  {% block body %}
    <div id="container">
      <div id="header">
        <h1><a href="{% url djime_index %}">Djime</a></h1>
        <div id="user-navigation">
          {% block login %}{% endblock %}
          {% block locale_switcher %}{% endblock %}
          <div class="clear"></div>
        </div>
        <div id="main-navigation">
          {% block main_menu %}
          {% endblock %}
          <div class="clear"></div>
        </div>
      </div>
      <div id="wrapper">
        <div id="main">
          {% block secondary_navigation %}
          {% endblock %}

          {% if messages %}
            <div class ='content'>
              <div class="flash">
                <div class="message error">
                  {% for message in messages %}
                    <li id="message_{{ forloop.counter }}">{{ message }}</li>
                  {% endfor %}
                </div>
                {% comment %}
                these are two other kind of messages, that we might at a later
                point implement to display messages differently.
                <div class="message warning"></div>
                <div class="message notice"></div>
                {% endcomment %}
              </div>
            </div>
          {% endif %}

          {% block content %}
          {% endblock %}

          <div id="footer">
            {% block footer %}
            {% endblock %}
          </div>

        </div>
        <div id="sidebar">
          {% include 'djime/statusbar.html' %}

          {% block sidebar %}
          {% endblock %}
        </div>
        <div class="clear"/></div>
      </div>
    <div id="closure">
    <script type="text/javascript" src="{{ STATIC_URL }}external/misc/swfobject.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/jquery.ui/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/misc/jquery.rest.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/misc/jquery.curvycorners.js"></script>
     {% if timer %}
      <script type="text/javascript" src="{{ STATIC_URL }}js/timer.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}external/misc/jquery.timeclock.js"></script>
    {% endif %}
    {# Final closing code JavaScript loading and HTML used in JavaScript. #}
    {% block closure %}
    {% endblock %}
  {% endblock %}
</body>
</html>

