{% extends "base.html" %}

{% load i18n %}
{% block login %}
    {% url acct_logout as logout_url %}
    {% url acct_login as login_url %}
    {% url acct_signup as signup_url %}
    <ul>
      {% if user.is_authenticated %}
          <li>{% blocktrans with user as user %}Hello, <em>{{ user }}</em>!{% endblocktrans %}</li>
          {% if user.is_staff %}<li><a href="/admin/">{% trans "Admin" %}</a></li>{% endif %}
          <li><a href="{{ logout_url }}">{% trans "Logout" %}</a></li>
      {% else %}
          {% blocktrans %}<li><a href="{{ login_url }}">Login</a> or <a href="{{ signup_url }}"><b>Sign up</b></a></li>{% endblocktrans %}
      {% endif %}
    </ul>
{% endblock %}

{% block main_menu %}
  <ul>
    <li><a href="{% url djime_index %}">{% trans "Overview" %}</a></li>
    <li><a href="{% url slip_index %}">{% trans "Tasks" %}</a></li>
    <li><a href="{% url project_index %}">{% trans "Projects" %}</a></li>
    <li><a href="{% url client_index %}">{% trans "Clients" %}</a></li>
    <li><a href="/misc/">{% trans "Miscellaneous" %}</a></li>
    <li><a href="{% url statistics_index %}">{% trans "Statistics" %}</a></li>
  </ul>
{% endblock %}

{% block footer %}
  <div class="block">
    <div class="legal">&copy; 2009 Reveal IT</div>
  </div>
{% endblock %}
