{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}external/jquery.ui/redmond/jquery-ui-1.7.1.custom.css" />
{% endblock %}

{% block content %}
  <div id="block-list" class="block">
    <div class="content">
      <h2 class="title">{% trans "Current tasks" %}</h2>
      <div class="inner">
        <ul class="item-list slip-list list">
          {% for slip in slip_list %}
            <li class="slip slip-{{ slip.id }}">
              <div class="left">*</div>
              <div class="right">
                <a href="{% url slip_page slip_id=slip.id %}">
                  <span class="elapsed-time">{{ slip.display_time }}</span>
                  {{slip.name}}
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <h2 class="title">{% trans "Current projects" %}</h2>
      <div class="inner">
        <ul class="item-list project-list list">
          {% for project in project_list %}
            <li class="project project-{{ project.id }}">
              <div class="left">*</div>
              <div class="right">
                <a href="{% url project_page project_id=project.id %}">
                  <span class="elapsed-time">{{ project.elapsed_time }}</span>
                    {{project.name}}
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% if slip_add_form %}
    <div class="block">
      <input type="button" name="create-slip" id="create-slip-button" value="Create new slip" />
      <div id="slip-add-form">
      <h3>{% trans "Create a new task" %}</h3>
      <div class="inner">
        <div id="validateTips"></div>
        <form class="form" method="post" action="{% url slip_create %}">
          {{ form.errors }}
          <ul class="form-items">
            <div class="group">
              {{ slip_add_form.name.errors }}
              <label for="id_name">Name:</label>
              {{ slip_add_form.name }}
            </div>
            <div class="group">
              {{ slip_add_form.project.errors }}
              <label for="id_project">Project:</label>
              {{ slip_add_form.project }}
            </div>
            <div class="group">
              {{ slip_add_form.client.errors }}
              <label for="id_client">Client:</label>
              {{ slip_add_form.client }}
            </div>
          </ul>
        </form>
      </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block closure %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}external/misc/jquery.autocomplete.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}external/jquery.ui/jquery-ui-1.7.1.custom.min.js"></script>
{% endblock %}

