{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Slip" %}{% endblock %}

{% block content %}
  <div id="block-forms" class="block">
    <div class="content">
      <h2 class="title">{% trans "Create a new slip" %}</h2>
      {% if slip_add_form %}
      <div class="inner">
        <form class="form" method="post" action="{% url slip_create %}">
          {{ form.errors }}
          <ul class="form-items">
            <div class="group">
              {{ slip_add_form.name.errors }}
              <label for="id_name">Name:</label>
              {{ slip_add_form.name }}
            </div>
            <div class="group">
              {{ slip_add_form.project.errors }}
              <label for="id_project">Project:</label>
              {{ slip_add_form.project }}
            </div>
            <div class="group">
              {{ slip_add_form.client.errors }}
              <label for="id_client">Client:</label>
              {{ slip_add_form.client }}
            </div>
            <div class="group navform">
               <input type="submit" value="Add a new task" />
            </div>
          </ul>
        </form>
      </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
{% block closure %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/djime.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}external/misc/jquery.autocomplete.js"></script>
{% endblock %}

