{% load i18n %}

<div id="djime-statusbar" class="block">
  <h3>Current status</h3>
  <div class="content">
    {% if timer %}
      <p>Task: {{ timer.slice.slip }}</p>
      <div id="slip-timer-sidebar-button" class="{{ timer.class }}"><div class="timeclock">0:00</div></div>
      {% if timer.slice.slip.is_active %}
      <script type="text/javascript">
        djime.current_time = new Date({{ timer.time.year }}, {{ timer.time.month }}, {{ timer.time.day }}, {{ timer.time.hour }}, {{ timer.time.minute }}, {{ timer.time.second }});
        djime.slip_statusbar_id = {{ timer.slice.slip.id }}
        djime.slip_statusbar_name = '{{ timer.slice.slip }}'
        {% if slip %}
          djime.slip_page_id = {{ slip.id }}
          djime.slip_page_name = '{{ slip }}'
        {% endif %}
      </script>
      {% endif %}
    {% else %}
      <p>{% trans "You have no active slip." %}</p>
      {% if slip %}
      <script>
        djime.slip_page_id = {{ slip.id }}
        djime.slip_page_name = '{{ slip }}'
      </script>
      {% endif %}
    {% endif %}
  </div>
</div>

