/* @override http://localhost:8000/static/css/tracker.css */

/**
 * @file tracker.css
 * CSS styles specifically for the tracker interface.
 */

/* Hide the seconds separator every other tick */
.hasTimeClock.tock .sep-hours {
    color: transparent;
}

/* @group Slip timer button */

#slip-timer-button, #slip-timer-sidebar-button {
	display: block;
    font-size: 250%;
    color: white;
    background-color: #007BA7;
    padding: 0.25em 0.5em 0.25em 0.5em;
    text-indent: 2em;
	-moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    width: 138px;
}

#slip-timer-button:hover, #slip-timer-sidebar-button:hover {
    background-color: #01B8DE;
}

#slip-timer-button.hasTimeClock, #slip-timer-sidebar-button.hasTimeClock {
    }

#slip-timer-button.hasTimeClock:hover, #slip-timer-sidebar-button.hasTimeClock:hover {
    }

/* @end */
